* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans";
    font-weight: normal;
}
/*============TITULOS Y SUBTITULOS============*/
h1, h3 {
    font-style: italic;
    font-weight: bolder;
}

/*============HEADER============*/

/*============NAV============*/
#navBar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#navItems {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

/*============BOTONES DEL NAV============*/
.btn-bar {
    border: 1px solid black;
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 77, 243);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
    transition: background-color 0.5s ease-out 5ms;
}

.btn-bar:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
/*============BANNER============*/
.Banner{
    min-height: 100vh;
    background-image: url(../assets/design1_image1_shadow.png);
    background-size:cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerText {
    position:static;
    color: white;
}

.btn-bannerText {
    text-decoration: none;
    color: white;
    transition: color 0.5s ease-out 5ms;
}

.btn-bannerText:hover {
    color:rgb(0, 77, 243);
}

/*============BorderBox para el UpcomingEvents============*/
main h2{
    border: 1px solid black;
    text-align: center;
    background-color: bisque;
}
/*============LOGO============*/
.Logo{
    width: 200px;
    height: 200px;
}

.imgBanner{
    width: 50px;
    height: 50px;
}

/*============IMAGES============*/
.TeamImg {
    width: 200px;
    height: 200px;
}

/*============UpcomingEvents-TextBody============*/
/*===================Position====================*/
.UpcomingEventsContainer {
    width: 200vh;
    margin: 10vh 0 5vh 0;
    display: flex;
    justify-content: space-around;
}

/*==============AboutText=================*/
.Abt {
    margin-top: 30px;
    width: 700px;
}
.Abt p{
    margin-bottom: 15px;
    text-indent: 40px;
    line-height: 25px;
}

/*==============AboutImages================*/
.ImagesAbt {
    width: 200px;
    display: block;
}

.ImagesAbt img {
    margin-bottom: 20px;
}

/*==============GameInformation and Rules================*/
.containerGameInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.startGameInfo {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.startGameInfoSon{
    padding: 5%;
    text-align: center;
}

.gamesInfoMap {
    padding: 5%;
    text-align: center;
}
td, th {
    border: 1px solid black;
}

p span, li span {
    font-weight: bold;
}

.gamesInfoContact{
    line-height: 250%;
}

.startGameInfo p {
    text-indent: 40px;
}

.startGameInfo ul {
    margin-left: 10%;
}

/*=============Registration-Form=============*/
.containerFormSections {
    padding: 5% 0  5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

.containerFormSections section {
    width: 50%;
}

/*=============ContactText=============*/
.ContactText p{
    line-height: 25px;
}

.ContactText img {
    margin-left: 50px;
}

