* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans";
    font-weight: normal;
}
/*============TITULOS Y SUBTITULOS============*/
h1, h3 {
    font-style: italic;
    font-weight: bolder;
}

/*============HEADER============*/

/*============NAV============*/

.navBar {
    
}

#navItems {
    position: fixed;
    right: 1%;
    width: 100%;
    height: 7%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

/*============BOTONES DEL NAV============*/
.btn-bar {
    border: 1px solid black;
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(70, 53, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438);
    transition: background-color 0.5s ease-out 5ms;
}

.btn-bar:hover{
    background-color: rgb(2, 177, 2);  
}
/*============BANNER============*/
.Banner{
    min-height: 100vh;
    background-image: url(../assets/design1_image1_shadow.png);
    background-size:cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerText {
    position:static;
    color: white;
}

/*============BorderBox para el UpcomingEvents============*/
.UpcomingEvents h2{
    border: 1px solid black;
    text-align: center;
}
/*============LOGO============*/
.Logo{
    width: 200px;
    height: 200px;
}

.imgBanner {
    position:fixed;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

/*============IMAGES============*/
.TeamImg {
    width: 200px;
    height: 200px;
}

/*============UpcomingEvents-TextBody============*/
/*===================Position====================*/
.UpcomingEventsContainer {
    width: 200vh;
    margin: 10vh 0 5vh 0;
    display: flex;
    justify-content: space-around;
}

/*==============AboutText=================*/
.Abt {
    margin-top: 30px;
    width: 700px;
}
.Abt p{
    margin-bottom: 15px;
    text-indent: 40px;
    line-height: 25px;
}

/*==============AboutImages================*/
.ImagesAbt {
    width: 200px;
    display: block;
}

.ImagesAbt img {
    margin-bottom: 20px;
}

/*=============ContactText=============*/
.ContactText p{
    line-height: 25px;
}

.ContactText img {
    margin-left: 50px;
}

